<br />
<div *ngIf="product">
  <div class="container-fluid">
    <div class="card mb-3" style="">
      <div class="card-header">
        <div class="row g-0">
          <div class="col-md-9">
            <h2>Detalles del Producto</h2>
          </div>
          <div class="col-md-3 text-end">
            <b>Precio: {{ product.price | currency }}</b>
          </div>
        </div>
      </div>
      <div class="row g-0">
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text text-wrap">{{ product.description }}</p>
            <p class="card-text">
              <small class="text-muted">
                <b>Presentaci&oacute;n</b>
                <br />
                {{ product.presentacion }}
              </small>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <img
            src="{{ product.imagenURL }}"
            class="img-fluid rounded mx-auto d-block"
            alt="{{ product.name }}"
            style="height:120px; width:120px; margin-top: 10px;"
          />
        </div>
      </div>
      <div class="card-footer">
        <div class="row g-0">
          <div class="col-md-9 text-start">
            <a
              class="botonAtras text-decoration-none"
              [routerLink]="['/productList']"
              style="font-size:10pt;"
            >
              << Volver</a
            >
          </div>
          <div class="col-md-3 text-center align-middle">
            <a
              class="boton text-decoration-none"
              [routerLink]="['/productList']"
              (click)="addToCart(product)"
            >
              Comprar</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
