<table class="tables">
  <tr>
    <td>
      <h2>Detalles del Producto</h2>

      <div *ngIf="product">
        <table class="tables">
          <tr>
            <td>
              <table style="width:100%;">
                <tr>
                  <td style="width:70%; text-align:left;">
                    <h3>{{ product.name }}</h3>
                  </td>
                  <td style="width:30%; text-align:left;">
                    Precio:
                    <h4>{{ product.price | currency }}</h4>
                  </td>
                </tr>
              </table>
            </td>
            <td style="text-align:center;">
              <img src='{{ product.imagenURL }}'>
            </td>
          </tr>
          <tr>
            <td>
              <p>{{ product.description }}</p>
            </td>
            <td>
              Presentaci&oacute;n: <b> {{ product.presentacion }}</b>
            </td>
          </tr>
          <tr><td colspan="2"></td></tr>
          <tr>
            <td>
              <a routerLink="/productList"> << Continuar Comprando</a>
            </td>
            <td>
              <button type="button" (click)="addToCart(product)">Comprar</button>
            </td>
          </tr>
        </table>
       
        
      </div>
    </td>
  </tr>
</table>

