<div class="container-fluid">
    <div class="card border-secondary mb-3  text-center mx-auto" style="max-width: 22rem;">
    <div class="card-header">Login</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Bienvenido a tu pastelería!</h5>
      <p class="card-text">Por favor ingresa tus credenciales de autenticacion para acceder a nuestros servicios.</p>
    </div>
    <div class="card-footer">
      <a routerLink="/productList" class="button fancy-button  text-decoration-none"><i class="material-icons">login</i>Login</a>
    </div>
  </div>
</div>

